:root {
  --index: calc(1vw + 1vh);
  --base-100: #fafafa;
  --base-200: #e8e6e7;
  --base-300: #d3d2d2;
  --base-400: #0f0f0f;
}

[x-cloak] { display: none !important; }

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'DMMono';
    src: url(../fonts/DMMono-Regular.woff2);
}

body, html {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll; 
  scrollbar-width: none;
}

.zone.available:hover{
  fill:#2ecc71;
}


.zone.sold:hover{
  fill:#801313;
}